{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio - Administrador</title>
    <link rel="stylesheet" href="{% static 'css/admin-login.css' %}"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="btn-menu">
          <label for="btn-menu">☰</label>
        </div>
        <div class="logo">
          <h1>BIENVENIDO INGRESASTE MODO ADMINISTRADOR</h1>
        </div>
        <nav class="menu">
          <a href="#">NOMBRE____</a>
        </nav>
      </div>
    </header>
    
    <div class="capa"></div>
    
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <a href="#">Configuración</a>
          <a href="#">Redes Sociales</a>
          <a href="{% url 'index' %}">Salir</a>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>

    <div class="container-info">
      {% block content %}
      <div class="buttons">
        <a href="#">
          <div class="button">
            <img src="{% static 'imagenes/fichas_admin.png' %}">Ver todas las fichas
          </div>
        </a>
        
        <a href="{% url 'gestionar_usuarios' %}">
          <div class="button">
            <img src="{% static 'imagenes/usuarios.png' %}">Gestionar Usuarios
          </div>
        </a>
        
        <a href="#">
          <div class="button">
            <img src="{% static 'imagenes/aprobar.png' %}">Aprobar Registros
          </div>
        </a>
        
        <a href="#">
          <div class="button">
            <img src="{% static 'imagenes/permisos.png' %}">Configurar Permisos
          </div>
        </a>
      </div>
      {% endblock content %}
    </div>
  </body>
</html>
