{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Carnetización</title>
    <link rel="stylesheet" href="{% static 'css/carnetTras.css' %}">

</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="assets/img/logoSena.png" alt="Logo SENA" class="logo">
            <h1>BIENVENIDO AL SISTEMA DE CARNETIZACIÓN</h1>
            <div class="buttons">

                <a href="{% url 'carnetInstru'%}"><button>Lado A</button></a>
                
              <a href="{% url 'index' %}"><button>Salir</button></a>
            </div>
        </div>
        <div class="right-panel">
          <div class="outer-card">
            <div class="card">
              <div class="content">
                <p>
                  Este carné es personal e intransferible; identifica al portador como aprendiz del 
                  Servicio Nacional de Aprendizaje SENA. EL SENA es una entidad que imparte formación 
                  técnica profesional y tecnológica que forma parte de la autoridad pública, civiles 
                  y militares presentarle al portador toda la colaboración para la realización de las 
                  actividades de su aprendizaje.
                </p>
                <p>
                  Por disposición de las leyes 418 de 1997, 54B de 1991, 642 de 2001 y 1106 de 2006, 
                  los menores de 18 años de edad y los estudiantes de educación superior no serán 
                  incorporados para la prestación del servicio militar.
                </p>
                <div class="signature">
                  <p class="signature-line">_____________________________</p>
                  <p>JESÚS ANDRÉS ARGOTE ORTEGA</p>
                  <p>FIRMA AUTORIZADA</p>
                </div>
                <div class="footer">
                  <p>Vence: 1/01/26</p>
                  <p>Ficha: 2971602</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
