{% extends "base.html" %}

{% block title %} editar Aprendiz {% endblock %} 

{% block body %}

<div class="row">
    <div class="col-3 justify-content">
        <h2>Edición de Aprendiz</h2>
        <div class="card">
            <div class="card-body">
                <form id="edit-aprendiz" method="post" action="{% url 'editar_aprendiz' aprendiz.numero_documento %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ aprendiz.tipo_documento.tipo }}" name="tipoDoc" id="tipoDoc" required>
                    </div><br/>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ aprendiz.numero_documento }}" name="numDoc" id="numDoc" readonly required>
                    </div><br/>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ aprendiz.nombres }}" name="nombres" id="nombres" required>
                    </div><br/>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ aprendiz.apellidos }}" name="apellidos" id="apellidos" required>
                    </div><br/>
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ aprendiz.ficha_id }}" name="ficha" id="ficha" readonly required>
                    </div><br/>
                    <div class="form-group">
                        <select name="rh" class="form-control">
                            {% for grupo in grupos_sanguineos %}
                                <option value="{{ grupo.id }}" {% if grupo == aprendiz.rh_id %}selected{% endif %}>
                                    {{ grupo.Rh }}
                                </option>
                            {% endfor %}
                        </select>
                    </div><br/>
                    <button type="submit" class="btn btn-success">Aplicar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}