{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/instru-login.css' %}"/>
    <header> <!-- place navbar here -->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="btn-menu">
          <label for="btn-menu">☰</label>
        </div>
        <div class="logo">
          <h1>BIENVENIDO INGRESASTE MODO  INSTRUCTOR</h1>
        </div>
        <nav class="menu">
        
          <a href="#">{{ request.session.nombre }}</a>
        
          
          <a href="#"></a>
        </nav>
      </div>
    </header>
    <div class="capa"></div>
    
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <a href="#">Como Funciona?</a>
          <a href="#">Redes Sociales</a>
          <a href="#"></a>
          <a href="{% url 'logout_instructor' %}">Salir</a>
        </nav>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>
    <div class="container-info">
      {% block content %}
      <div class="buttons">
        <a href="{% url 'fichas_instru' %}"><div class="button"> <img src="{% static 'imagenes/registro.png' %}">Ver mis fichas </div></a>
        <a href="{% url 'carnetInstru'%}"><div class="button"> <img src="{% static 'imagenes/logocarnet.png' %}">Imprima su Carnet </div></a>
        <a href="{% url  'reporte_aprendices' %}"><div class="button"> <img src="{% static 'imagenes/candado.png' %}">Reportes </div></a>
      {% endblock content %}
      </div>
  </div>
  </body>
</html>