@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body {
  background-color: #39a900;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.logo h1 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.3s ease;
  border-bottom: 8px solid transparent;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

#btn-menu {
  display: none;
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: white;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  padding: 25px;
  font-size: 20px;
  color: #39a900;
  font-weight: 600;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #d9d2d2;
}

.card {
  max-height: 400px;
  overflow-y: auto;
  margin: 100px 100px 50px 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.card__content table {
  width: 100%;
  border-collapse: collapse;
}

.card__content th, .card__content td {
  text-align: left;
  padding: 8px;
}

.card__content th {
  background-color: #f1f1f1;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  background-color: white;
  padding: 8px;
  border-radius: 15px;
}

.card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #0056b3;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  width: 100%;
}

.container-info .buttons {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.container-info .button {
  border: 2px solid #f6f6f6;
  color: white;
  background: transparent;
  padding: 20px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.container-info .buttons .button a {
  text-decoration: none;
  color: white;
}

.container-info .button img {
  width: 100px;
  height: 100px;
}

.container-info .container-list {
  border-radius: 15px;
  background-color: #f6f6f6;
  overflow-y: auto;
  width: 80%;
  height: 400px;
  padding: 35px;
  margin-left: 50px;
}

.container-info .container-create {
  font-size: 13px;
  border-radius: 15px;
  background-color: #f6f6f6;
  width: 20%;
  height: 300px;
  padding: 35px;
}

.container-info .container-create button {
  padding: 10px;
  margin: 5px;
  text-align: center;
}
