:root{
    --color-background: #39A900;
    --color-buttom: #00304D;
    --color-border: #000000;
    --color-neutro: #F6F6F6;
    --color-title:  #000000;
}

html{
  font-size: 15px;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f2f3;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    background-color: var(--color-neutro);
    border-radius: 10px;
    overflow: hidden;
}

/* Panel izquierdo */
.left-panel {
    width: 100%;
    flex: 1;
    padding: 20px;
    background-color: var(--color-neutro);
    text-align: center;
}

.left-panel .logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.left-panel h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-title);
}

.left-panel .buttons button,
.print-btn {
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    background-color: var(--color-buttom);
    color: var(--color-neutro);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.left-panel .buttons button:hover,
.print-btn:hover {
    background-color: var(--color-neutro);
    color: var(--color-buttom);
    border:  1px solid var(--color-border) ;
}

/* Panel derecho */
.right-panel {
    flex: 1;
    padding: 20px;
    background-color: var(--color-background);
    text-align: center;
}

.right-panel .logo-small {
    max-width: 100px;
    margin-bottom: 20px;
}

.right-panel .card-index {
    background: var(--color-neutro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.right-panel .card-index h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-title);
}

.right-panel .card-index label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--color-title);
}

.right-panel .card-index input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}



.right-panel .card-index .forgot-link {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #017B63;
    text-decoration: none;
}

.right-panel .card-index .forgot-link:hover {
    text-decoration: underline;
}




/*Carnet*/


.card {
    width: 390px;
    height: calc(100% - 700px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0px auto;
    box-shadow: inset 0 0 0 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-panel img {
    width: 100px;  /* Ajusta el tamaño del logo (puedes cambiarlo según necesites) */
    height: auto;  /* Mantiene la proporción del logo */
    display: block; /* Evita espacios en línea */
    margin: 0 auto; /* Centra la imagen si es necesario */
}

  .logo {
    width: 40%;
  }
  .logo img { 
  width: 100px; 
  height: auto; /* Mantén la proporción del logo */ 
  } 
  .photo {
  width: 120px; /* Ajusta el tamaño de la foto para que se vea equilibrada */ 
  height: 120px; 
  background-color: #e8e8e8; 
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #777; 
  font-weight: bold; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; /* Opcional: bordes ligeramente redondeados */ 
  margin-left: 30px;  /* Mueve la imagen a la derecha */
  margin-top: 20px;   /* Mueve la imagen hacia abajo */
  } 
  .photo img {
   width: 120%; 
   height: 120%; 
   object-fit: cover; /* Asegura que la imagen de la foto no se deforme */ 
   border-radius: 4px; /* Aplica el mismo redondeo que el contenedor */ 
  }
  
  .info {
    margin-top: 20px;
  }
  .info h2 {
    text-align: left;
    font-size: 18px;
    color: #4caf50;
    margin: 0;
  }
  .info p {
    text-align: left;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
  }
  .info hr{
    color: var(--color-background);
  }
  .barcode {
    text-align: left;
    margin-top: 20px;
    text-align: center;
  }
  .barcode img {
    width: 100%;
    height: 40px;
    object-fit: cover;
  }
  .footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  .footer p {
    font-size: 14px;
    margin: 5px 0;
  }
  .footer h3 {
    font-size: 16px;
    color: #4caf50;
    margin: 5px 0;
  }

  /*carnet parte trasera*/

  .outer-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 450px;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .content p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 10px;
  }
  
  .signature {
    text-align: center;
    margin-top: 20px;
  }
  
  .signature-line {
    margin: 0;
  }
  
  .footer-second {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
  }

/*Modal*/

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;/*todos estos valores hacen que el modal ocupe el 100% de la pantalla*/
  background-color: #111111bd;
  display: flex;
  opacity: 0;/*esconde el modal*/
  pointer-events: none;/*asi podemos seleccionar cualquier cosa de la pagina mientras el modal esta escondido */
  transition:  opacity .6s .9s;
  --transform: translateY(-100vh);/*hara que suba el modal*/
  --transition: transform .8s;
}

/*creamos la clase para que aparezca el modal*/
.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition:  opacity .6s;
  --transform: translateY(0);/*hace que regrese el modal a donde estaba*/
  --transition: transform .8s .8s/*delay de la transicion*/;
}

.modal-container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: var(--color-neutro);
  border-radius: 10px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em; /*esto con el display grid hace que se separen un poco*/
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal-title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.buttoms-group{
  position: relative;
  margin-bottom: 2rem;
}
.buttom-input{
  position: relative;
  width: 100%;
  height: 3rem;
  display: block;
  border: 0.2rem solid var(--color-border);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  outline:none;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  line-height: 2.1rem;

}
.buttom-input:focus{
  border: 0.2rem solid var(--color-buttom);
}

.buttom-label{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: 1;
  color: var(--color-title);
  transition: all 300ms ease-in-out;
  pointer-events: none;
}
.buttom-input:focus~label,
.buttom-input:not(:placeholder-shown)~label{
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 1.3rem;
  color: var(--color-title);
}
.buttom-input::-webkit-input-placeholder{
  color: transparent;
}

.buttom-input::-moz-placeholder{
  color: transparent;
}

.modal-close{
  text-decoration: none;
  color: var(--color-neutro);
  background-color: var(--color-buttom);
  padding: 1em 3em;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}
.modal-close:hover{
  background-color: var(--color-neutro);
  color: var(--color-buttom);
}